body {
  background-color: rgba(13,133,237,.1);
  font-family: 'Aldrich', sans-serif;
}

.intro {
  margin-top: 50px;
  text-align: center;
}

.intro p {
    margin-bottom: 50px;
}

img {
  width: 120%;
}

.wave2-container{
  transform: translate(-100px, -60px);
}
.wave1-container{
  transform: translate(-100px, 0px);
}

.wave3-container{
  transform: translate(-100px, -120px);
}

#waves1 {
  animation: waveMotion 5s linear infinite;
}

#waves2 {
  animation: waveMotion 15s linear infinite;
}

#waves3 {
  animation: waveMotion 6s linear infinite;
}

@keyframes waveMotion {
  0% {
      transform: translate(0px, 0px);
    }
  8% {
      transform: translate(15px, -1px);
    }
  16% {
    transform: translate(30px, -3px);
  }
  25% {
    transform: translate(45px, -5px);
  }
  27% {
    transform: translate(45px, -5px);
  }
  34% {
    transform: translate(60px, -3px);
  }
  42% {
    transform: translate(75px, -1px);
  }
  50% {
    transform: translate(90px, 0px);
  }
  58% {
     transform: translate(75px, 1px);
  }
  66% {
     transform: translate(60px, 3px);
  }
  75% {
     transform: translate(45px, 5px);
  }
  84% {
     transform: translate(30px, 3px);
  }
  92% {
     transform: translate(15px, 1px);
  }
  100% {
      transform: translate(0px, 0px);
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.board {
  height: 800px;
  width: 800px;
  /*border: 2px solid green;*/
  display: flex;
  flex-direction: column;
}

.numbers {
  /*border: 2px solid yellow;*/
  display: flex;
  height: 60px;
}

.num-label, .alpha-label {
  width: 60px;
  height: 60px;
  border: 2px solid lightblue;
  background-color: rgba(10,50,100,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blank {
  background-color: rgba(0,0,0,0);
  border-left: 2px solid rgba(0,0,0,0);
  border-top: 2px solid rgba(0,0,0,0);
}

.row {
  /*border: 2px solid pink;*/
  height: 60px;
  display: flex;
}

.square {
  height: 60px;
  width: 60px;
  border: 2px solid lightblue;
  background-color: rgba(10,50,100,1);
  cursor: pointer;
}

.inactive {
  pointer-events: none;
}

